.sprite-bnt-mas,
.sprite-bnt-menos {
    width: 28px;
    height: 28px;
    float: left;
}

.input-cantidad {
    float: left;
    width: 40px;
}

.sprite-bnt-menos {
    background-position: -288px -4px;
}

.sprite-bnt-mas {
    background-position: -258px -4px;
}

.input-cantidad {
    float: left;
    width: 40px;
}

.input-cantidad input {
    border: 1px solid #d7d7d7;
    text-align: center;
    height: 28px;
    width: 100%;
}

[class|=sprite] {
    background-image: url(../utils/d015d4ff.sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
}