<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-12 table-responsive-sm">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Producto</th>
                                <th scope="col">Precio Unit.</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">SubTotal</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of ObjProduct">
                                <td>{{item.productName}}</td>
                                <td>{{item.price}}</td>
                                <td style="width: 20%;">
                                    <div class="ctn-spinbox">
                                        <a class="sprite-bnt-mas" href="javascript:void(0);" (click)="DeleteItem(item)"></a>
                                        <div class="input-cantidad">
                                            <input type="text" class="form-control input-number" readonly="" value="{{item.Cant}}">
                                        </div>
                                        <a class="sprite-bnt-menos" href="javascript:void(0);" (click)="AddItem(item)"></a>
                                    </div>
                                    <!-- <div class="col-12">
                                    <input type="number" min="1" class="form-control" id="exampleInputEmail1" value="{{item.Cant}}" (input)="AddItem($event, item)">
                                </div> -->

                                </td>
                                <td>{{item.price * item.Cant}}</td>
                                <td style="width: 20%;">
                                    <button class="btn btn-danger" (click)="DeleteProductCar(item)">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                      </svg>
                                </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="card col-12">
                    <div class="card-header">
                        Total a pagar
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Total: {{Total}}</h5>
                        <button class="btn btn-primary" (click)="ToCustomer()" [disabled]="validateItems">Ir a pagar</button>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <a routerLink="/" class="btn btn-warning">Continuar comprando</a>
                </div>

            </div>

        </div>
    </div>


</div>